@import '../../variables';

.header {
    border-bottom: $color-fire 1px solid;
}

.social {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    width: 200px;
    height: 100%;
    min-height: 50px;
    font-size: 1.5em;
    a {
        color: white !important;
        text-decoration: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
}

.logo {
    height: 100px;
}

.menu {
    display: flex;
    align-items: center;
    .fa-bars {
        font-size: 1.5em;
        margin-left: 20px;
    }
}
