<div class="header container-fluid fixed-top bg-black text-light">
    <div class="row">

        <div class="menu col-2 order-first">
            <i class="fas fa-bars" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></i>
            <div class="offcanvas offcanvas-start"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header bg-dark text-light d-flex justify-content-end">
                    <button type="button" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body bg-dark text-light">
                    <h3>Link text #1</h3>
                    <h3>Link text #2</h3>
                    <h3>Link text #3</h3>
                    <h3>Link text #4</h3>
                </div>
            </div>
        </div>

        <div class="order-2 col d-block d-md-none"></div>

        <div class="logo order-4 order-md-3 col-12 col-md-8 d-flex align-items-cetner justify-content-center">
            <svg class="logo" height="100" width="250" xmlns="http://www.w3.org/2000/svg" fill="White">
                <image href="../../../assets/pic/Logo_Fornifarina.svg" height="100" width="250"></image>
            </svg>
        </div>

        <div class="order-3 order-md-4 col-2 d-flex align-items-center justify-content-end">
            <div class="social">
                <a target="_blank" href="https://www.facebook.com/ForniFarina-1241109992710741">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a target="_blank"href="https://www.instagram.com/fornifarina/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="mailto:fornifarina@gmail.com">
                    <i class="far fa-envelope"></i>
                </a>
            </div>
        </div>

    </div>
</div>
