<div class="main">
    <div *ngIf="data" class="coal">
        <div class="slogan">{{ getStringById(1) | uppercase }}</div>
        <div class="subslogan">{{ getStringById(2) | lowercase }}</div>
    </div>
    <div  class="container">
        <div *ngIf="cards.length" class="row d-flex justify-content-center">
            <div *ngFor="let item of cards" class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                <app-card [card]="item"></app-card>
            </div>    
        </div>

    </div>
</div>
