<div class="main">
    <div *ngIf="layoutData" class="coal">
        <div class="slogan">{{ layoutData[0].value | uppercase }}</div>
        <div class="subslogan">{{ layoutData[1].value | lowercase }}</div>
    </div>
    <div  class="container">
        <div *ngIf="cards.length" class="row d-flex justify-content-center">
            <div *ngFor="let item of cards" class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                <app-card [card]="item"></app-card>
            </div>    
        </div>

    </div>
</div>
